<div class = "login">
    <% if (name !== '') { %>
        <h1> Bejelentkezve: <%= name %>. </h1>
        <form method="POST" action="/auth/Kijelentkezes" class = "uj">   
            <button id="buttonLogout2" >
                Logout
            </button> 
        </form>
    <% } else { %>
        <h1> Nem vagy bejelentkezve! </h1>
        
        <nav id = "Eleje">
            <a class="a" href="RendezvenyFelhasznaloBejelentkezes.html">Login</a> <br><br><br>
            <a class="a" href="RendezvenyFelhasznaloRegisztr치ci칩.html">Regisztr치ci칩</a>
        </nav>

    <% } %>
</div>