<!--Név: Velican László
    Azonosító: vlim2099
    Labor: lab2
    Sorszám: 10  -->

    <!DOCTYPE html>
    <html lang="hu">
    
        <head>
            <meta charset='utf-8'>
            <meta http-equiv='X-UA-Compatible' content='IE=edge'>
            <title>Rendezvény bevezetése</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
            <script src='Rendezveny.js'></script>                                              
        </head>
    
        <body>
            <form action="/lekezelRendezvenySzervezoCsatlakozas" method="post" id="RendezvenySzervezoCsatlakozas" name = "RendezvenySzervezoCsatlakozas" enctype="multipart/form-data">
                <label>Rendezvényhez csatlakozás szervezőknek</label><br>
    

                <label for="form-rendezvenySzervezo">Szervező neve:</label> 

                <div>
                    <select id="form-rendezvenySzervezo">
                      
                      <% rendezvenySzervezokNevei.forEach((rendezvenySzervezokNevei) => { %>
                        <option value = <%= rendezvenySzervezokNevei.szervezoNev %>><%= rendezvenySzervezokNevei.szervezoNev %></option>
                        <% }) %>   
                    </select>   
            
                </div>
                   
                </div> 

                    
                

                <label for="form-rendezvenyID">Rendezvény id:</label>
                <div>
                    <select id="form-rendezvenyID">
                      
                      <% rendezvenyIDk.forEach((rendezvenyIDk) => { %>
                        <option value = <%= rendezvenyIDk.rendezvenyID %>><%= rendezvenyIDk.rendezvenyID %></option>
                        <% }) %>   
                    </select>   
            
                </div>

                <label for="form-rendezvenySzervezoValasztas">Szervező választása:</label>
                <select id="form-rendezvenySzervezoValasztas" name="form-rendezvenySzervezoValasztas">
                        <option value="csatlakozas">Csatlakozas</option>
                        <option value="visszalepes">Visszalépés</option>
                </select>
                <br><br>

                <div>
                    <span id="errorBekuldes"></span>
                </div>

                

                <input type="submit" value="bekuldes" id="form-saveSzervezoCsatlakozas"/>
               
            </form>
    

    
        </body>
    
    </html>
    