<!--Név: Velican László
    Azonosító: vlim2099
    Labor: lab2
    Sorszám: 10  -->

    <!DOCTYPE html>
    <html lang="hu">
    
        <%- include('partials/head.ejs', { title: 'Rendezvény bevezetése'}) %>
    
        <body>
            <form action="/lekezelRendezvenyBevezetese" onsubmit="required()" method="POST" id="RendezvenyBevezetes" name = "RendezvenyBevezetes" enctype="multipart/form-data">
                
                <%- include('partials/login.ejs' %>
                
                <h2> <%= hibaUzenet %></h2> 

                <label>Rendezvény bevezetése</label><br>                
                
                <label for="form-rendezvenyNev">Rendezvény neve:</label>                                             
                <input type="text" name="form-rendezvenyNev" id="form-rendezvenyNev" value=""pattern="^[A-Z]{1}[a-z]{1,}$"
                title="Csak betűtet tartalmazhat, az első nagybetű, a többi kisbetű"/> <br>
    
                <label for="form-rendezvenyKezdesiIdopont">Rendezvény kezdésének időpontja:</label>                                         
                <input type="date" name="form-rendezvenyKezdesiIdopont" id="form-rendezvenyKezdesiIdopont" /><br>


                <label for="form-rendezvenyVegzesiIdopont">Rendezvény végének időpontja:</label>                              
                <input type="date" name="form-rendezvenyVegzesiIdopont" id="form-rendezvenyVegzesiIdopont" /><br>


                <label for="form-rendezvenyHelyszine">Rendezvény helyszíne:</label>
                <input type="text" name="form-rendezvenyHelyszine" id="form-rendezvenyHelyszine" pattern="^[A-Z]{1}[a-z]{1,}$"
                title="Csak betűtet tartalmazhat, az első nagybetű, a többi kisbetű"/><br>    
                

                <label for="form-rendezvenySzervezok">Rendezvény szervezőinek a listája:</label>
                <input type="text" name="form-rendezvenySzervezok" id="form-rendezvenySzervezok" value="" pattern="^[A-Za-z ,]{1,}$"                   
                    title="Csak betűtet tartalmazhat, a nevek vesszővel kell legyenek elválasztva" ><br>    
            
                <input type="submit" value="bekuld" id="form-submit"/><br>
    
                <div>
                    <span id="errorBekuldes1"></span>
                </div>

            </form>
    

    
        </body>
    
    </html>
    