body {
    background-color: rgb(247, 237, 227);
}

nav > a {
    border: 1px solid rgb(0, 0, 0) ;
    background-color: rgb(242, 228, 212);
    padding: 1em;
    margin: 1em;
    text-decoration: none;
}

nav > a:hover {
    background-color: rgb(0, 0, 0);
}

nav {
    margin-bottom: 1em ;
}

.list-item {
    padding: 1em;
    box-shadow: 10px 5px 5px rgb(72, 65, 29);
    margin: 2em;
}

label {
    display: block;
    margin-bottom: 1em;
}

form,h2 {
    text-align: center;
}
